body {
    margin:0;
    /* font-family:'poppins' */
   
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
:root{
    --orange-color:#DA722C;
    --light-blue-color:#057ADA;
    --light-color:#E8F7FB;
    --darkblue-color:#023047;
    --dark-color:#070917;
    --purple-color:#6F7DFB;
}

.btn{
 padding: 16px 32px;
 border-radius: 24px;
 text-decoration: none;
 color: white;
 display: inline-block;
 font-weight: bold;
 font-size: 16px;
 position: relative;
}

.btn.dark{
    background: var(--darkblue-color);
}

.btn.light{
    background: var(--orange-color);
}

.btn.enroll-now::before{
    content: url("/assets/PencilAlt.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enroll-now{
    padding-left: 60px;
}

.wrapper{
    max-width: 1134px;
    margin: 0px auto;
}

header{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 36px;
    width: 1134px;
    z-index: 100;

}

nav .logo{
    
font-family: 'Raleway';
font-style: normal;
font-weight: 900;
font-size: 40px;
color: #FFFFFF;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    text-decoration: none;
    
}

nav ul li a{
    /* About */

font-family: 'Poppins',"sans-sarif";
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
text-decoration: none;
margin: 0;

}

/* hero section */

.hero-section{
display: flex;
 justify-content: space-between;
align-items: center;
height: 100vh;
width: 100%;
padding-top: 60px;
position: relative;
}


.hero-section .left h1{
font-family: 'Raleway',"sans-serif";
font-style: normal;
font-weight: 900;
font-size: 50px;
color: #FFFFFF;
}

.hero-section .left p{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 30px;
width: 457px; 
}

.hero-section .left{
flex: 1;
}

.hero-section .right img{
    height: 560px;
    vertical-align: middle;
}

.hero-section .right{
    align-self: flex-end;
}


.achivement-card {
    position: absolute;
}

.achivement-card .content{
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 8px 32px;
    position: relative;
    z-index: 10;
    
}


.achivement-card.students-enrolled{
    left: 47%;
    top: 344px;
}

/* 32K */
.achivement-card.overall-rating{
    left: 31%;
    top: 568px;
}

.achivement-card h3{
font-family: 'Poppins';
font-weight: 700;
font-size: 36px;
color: var(--darkblue-color);
/* identical to box height, or 45px */

color: #023047;


}

.achivement-card p{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
color: var(--darkblue-color);
margin: 0;
text-align: center;
margin-top: -8px;
margin-bottom: 8px;
}


.achivement-card .bg{
       position:absolute;
     
       height: 100%;
       width:100%;
       top: 8px;
       left: 8px;
       border-radius: 24px;
       background: linear-gradient(180deg, #525bab 0%, #3B448F 100%);
       z-index: 1;
}

.achivement-card .content div{
   display: flex;
   align-items: center; 
   gap: 12px;
   left: 12.12%
}


/* Vector */
.achivement-card .content img{
position: absolute;
left: 60.12%;
right: 3.12%;
top: 28.69%;
bottom: 4.69%;

}

